*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
body{
    background: linear-gradient(90deg,#c7c4ff 10%, #fffdaa 90%);
    height: 100%;
}
#wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#form{
    border-bottom: 10px solid coral;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
.form_col1, .form_col2 {
    padding: 50px;
}
.select{
    font-size: 25px;
    outline: none;
    border: none;
    background: inherit;
    color: coral;
    font-weight: 800;
    font-size: 30px;
}
.nameFilter{
    font-size: 30px;
    font-weight: 700;
}
#loader{
    display: none;
    justify-content: center;
    padding: 30px 0;
    font-size: 40px;
    color: coral;
}
#result{
    flex: 1 0 auto;
    padding: 20px;;
}
#pagin{
    border-top: 10px solid coral;
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    flex: 0 0 auto;
}
.btn{
    padding: 20px;
    margin: 0 10px;
    font-size: 30px;
    border-radius: 10px;
    border-color: coral;
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
