@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900|Roboto:300,300i,400,400i,700,900');
/*RESET*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	-------------ДЛЯ СТАРЫХ БРАУЗЕРОВ-------------->
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*MAIN*/
	*{
		margin-bottom: -205px;
	}
	a{
		text-decoration: none;
		color: #fff;
	}
	body{
		position: relative;
	}
	li{
		list-style: none;
	}
	.wrapper{
		width: 1110px;
		padding: 0 15px;
		margin:0 auto;
	}
	.clearfix::after{
		content: '';
		clear: both;
		display: block;
	}
/*HEADER*/
	header{
		background: url('../img/background_header.png')no-repeat 0/cover;
		padding-bottom: 270px;
		position: relative;
	}
	.header__logo>img{
		display: inline-block;
		margin-top: 35px;
		vertical-align: sub;
	}
	.header__logo>p{
		display: inline-block;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 24px;
		margin-left: 17px;
		vertical-align: super;
	}
	.header__main{
		width: 100%;
		position: relative;
	}
	.main__left{
		float:left;
		color: #fff;
		position: relative;
		margin-top: 180px;
		z-index: 5;
	}
	.header__main::before{
		content: '';
		width: 383px;
		height: 325px;
		position: absolute;
		top: 85px;
		left: -55px;
		background: url('../img/header_red_scratch.png')no-repeat;
		z-index: 2;
	}
	.main__left>h1{
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 72px;
	}
	.main__left>p{
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 30px;
		margin-top: 12px;
	}
	.main__right{
		float: right;
		width: 250px;
		height: 150px;
		color: #fff;
		margin-top: 172px;
	}
	.main__right>p{
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		font-weight: 700;
		padding-bottom: 12px; 
	}
	.main__right>button{
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 16px;
		width: 120px;
		height: 40px;
		background: #af1c1a;
		border: none;
		margin-top: 12px;
	}
	.main__right a{
		padding: 10px 21px;
	}
/*ABOUT*/
	#about{
		background: linear-gradient(145deg,#20191b 10%, #000000 80%);
		position: relative;
		top:0; 
		left:0;
		padding-bottom: 90px;
		margin-top: -50px;
	}
	#about::after{
		content: '';
		position: absolute;
		background: url(../img/header_redline.png)no-repeat 0/cover;
		width: 100%;
		height: 220px;
		top: -155px;
		right:0;
		left: 0;
	}
	#about::before{
		content: '';
		top: -80px;
		left: 0;
		background: linear-gradient(174deg, transparent 49.9%, #1a1416 50%, #100c0d 90%);
		width: 100%;
		height: 80px;
		position: absolute;
	}
	.about__menu{
		text-align: right;
		position: relative;
		z-index: 15;
		margin-bottom: 160px;
		margin-left: 10px;
	}
	.about__menu li{
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-left: 30px;
		font-size: 14px;
	}
	#icon_menu{
		display: none;
	}
	.about__photo{
		float: left;
	}
	#about h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		transform: rotate(-90deg);
		color: #fff;
		margin: 160px 0 0 -65px;
		float: left;
	}
	.about__photo img{
		margin: 0 14px 30px 14px;
		position: relative;
		z-index: 10;
	}
	.about__text{
		color: #fff;
		width: 445px;
		height: 280px;
		float: right;
		line-height: 1.2;
	}
	.about__text>p:first-child{
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
		padding-bottom: 20px;
	}
	.about__text>p{
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		padding-bottom: 12px;
	}
/*GALLERY*/
	#gallery{
		background:linear-gradient(to left bottom, #ad1b19 50%,#a51b19 90%);
		position: relative;
		z-index: 5;
		padding-bottom: 550px;
		margin-top: -8px
	}
	#gallery::before{
		content: '';
		position: absolute;
		top: -265px;
		left: 0;
		width: 100%;
		height: 265px;
		background: linear-gradient(to left bottom, transparent 50%, #ad1b19 50.1%);
	}
	#gallery::after{
		content: '';
		position: absolute;
		bottom: -73px;
		left: 0;
		width: 100%;
		height: 75px;
	    background: linear-gradient(to right top, transparent 50%, #a51b19 51%) left / 50.1% 100% no-repeat, linear-gradient(to left top, transparent 50%, #a91b19 51%) right / 50.1% 100% no-repeat;
	}
	.gallery__images{
		float: right;
		position: relative;
		z-index: 10px;
		margin-top: 40px;
	}
	.gallery__big_img{
		margin-right: 110px;
	}
	#gallery h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		transform: rotate(90deg);
		color: #fff;
		margin: 235px -60px 0 40px;
		float: right;
	}
	.gallery__other_img>img{
		margin: 30px 15px 30px 15px;
		position: relative;
		z-index: 10;
	}
	.gallery__other_img>img:first-child{
		margin-left: 165px;
	}
	.gallery__firstrow>img{
		margin:0 30px;
	}
	.gallery__firstrow>div:first-child{
		width: 38px;
		height: 38px;
		border: 2px solid #fff;
		position: relative;
		top: -166px;
		left: 0;
		display: inline-block;
	}
	.gallery__firstrow>div:first-child::before{
		content: '';
		position: absolute;
		top: 10px;
		left: 14px;
		width: 14px;
		height: 14px;
		border-left: 3px solid #fff;
		border-bottom: 3px solid #fff;
		transform: rotate(45deg);
	}
	.gallery__firstrow>div:last-child{
		width: 38px;
		height: 38px;
		border: 2px solid #fff;
		position: relative;
		top:-166px;
		right: 0;
		display: inline-block;
	}
	.gallery__firstrow>div:last-child::before{
		content: '';
		position: absolute;
		top: 10px;
		right: 14px;
		width: 14px;
		height: 14px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(45deg);
	}
	.gallery__firstrow a{
		padding: 18px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.g_shadow::before{
		content: '';
		width: 50%;
		height: 20px;
		box-shadow:0 7px 8px rgba(0,0,0,0.8);
		transform: rotate(6.3deg);
		background: inherit;
		position: absolute;
		bottom: -34px;
		left: -1px;
	}
	.g_shadow::after{
		content: '';
		width: 50%;
		height: 20px;
		box-shadow:0 7px 8px rgba(0,0,0,0.8);
		transform: rotate(-6.3deg);
		background: inherit;
		position: absolute;
		bottom:-34px;
		right: -1px;
	}
/*SHEDULE*/
	#schedule{
		position: relative;
		background: radial-gradient(#191315,#000 75%);
		padding-bottom: 100px;
		margin-top: -100px;
	}
	.schedule__top{
		text-align: center;
		padding-top: 250px;
	}
	.schedule__top>h3{
		font-size: 36px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 800;
		color: #fff;
		margin-bottom: 26px;
	}
	.schedule__top>p{
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
		margin-bottom: 12px;
	}
	.schedule__top>p:last-child{
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		text-align: center;
		margin-bottom: 50px;
	}
	.schedule__top>button{
		width: 82px;
		height: 39px;
		text-transform: uppercase;
		background: #af1c1a;
		color: #fff;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		border:none;
		margin-bottom: 90px;
	}
	.schedule__mid{
		position: absolute;
		top: 115px;
		left: 0;
		right: 0;
	}
	.schedule__img1{
		float: left;
		position: relative;
		margin-top: -23px;
	}
	.schedule__img1::before{
		content: '';
		position: absolute;
		bottom: -45px;
		left: 0;
		width: 478px;
		height: 60px;
		background: #af1c1a;
		box-shadow:0 8px 7px rgba(0,0,0,0.75);
	}
	.schedule__img2{
		float: right;
		position: relative;
		margin-right: 115px;
		}
	.schedule__img2::before{
		content: '';
		position: absolute;
		bottom: -45px;
		right: -120px;
		width: 478px;
		height: 60px;
		background: #af1c1a;
		box-shadow:0 8px 7px rgba(0,0,0,0.75);
	}
	.week{
		text-align: center;
		margin-bottom: 35px;
		margin-left: 10px;
	}
	.week>li{
		display: inline-block;
		margin-right: 65px;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.week>li:last-child{
		margin-right: 0;
	}
	.week>li:hover{
		font-weight: 700;
	}
	.schedule_botrow>h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		transform: rotate(-90deg);
		color: #fff;
		margin: 160px 0 0 -65px;
		float: left;
	}
	.day_list{
		width: 570px;
		float: left;
		font-size: 0;
		margin-left: 10px;
	}
	.day_list>div{
		width: 255px;
		height: 60px;
		background: #b8b2b2;
		display: inline-block;
		margin: 0 30px 15px 0;
		vertical-align: top;
	}
	.day_list>div>div{
		display: inline-block;
		margin:15px 20px 15px 20px;
	}
	.day_list>div:first-child>div{
		margin-left: 36px;
	}
	.day_list>div:nth-child(2)>div{
		margin-left: 36px;
	}
	.day_list span:first-child{
		font-size: 30px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
	}
	.day_list span+span{
		font-size: 18px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
		vertical-align: top;
	}
	.day_list p{
		display: inline-block;
		font-size: 18px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
	}
	.calendar{
		float: right;
	}
	.top{
		width: 215px;
		height: 76px;
		background: #ab1b1a;
		padding: 30px 0 30px 135px;
		text-align: left;
		color: #fff;
		position: relative;
	}
	.top::before{
		content: '';
		width: 75px;
		height: 75px;
		border-radius: 50%;
		border: 2px solid #fff;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.top>span{
		position: absolute;
		top:55px;
		left: 53px;
		font-size: 30px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
	}
	.top>p:nth-child(1){
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.top>p:nth-child(3){
		font-size: 18px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
	}
	.month{
		background: #481c1c;
		padding: 30px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
		position: relative;
	}
	.month::before{
		content: '';
		position: absolute;
		top: 30px;
		left:30px;
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		border-top: transparent;
		border-right: transparent;
		transform: rotate(45deg);		
	}
	.month::after{
		content: '';
		position: absolute;
		top: 30px;
		right:30px;
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		border-top: transparent;
		border-left: transparent;
		transform: rotate(-45deg);
	}
	.table{
		background: #481c1c;
		width: 350px;
		height: 198px;
	}
	.calendar table{
		background: #481c1c;
		width: 325px;
		height: 176px;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
		margin-left: 10px;
	}
	.calendar .month_week{
		font-weight: 700;
	}
	td{
		position: relative;
		cursor: pointer;
	}
	td::after{
		content: '';
		width: 30px;
		height: 30px;
		background: #af1c1a;
		border-radius: 50%;
		position: absolute;
		top: -7px;
		right: 2px;
		display: none;
	}
	td:hover::after{
		display: block;
	}
	td>span{
		position: absolute;
		z-index: 10;
		top: 0;
		right: 50%;
		margin-right:-16px;
	}
/*PRICE*/
	#price{
		position: relative;
		background: linear-gradient(#ac1c19 10%,#921816 90%);
		padding-bottom: 50px;
		z-index: 7;
		margin-top: -30px;
	}
	#price::before{
		content: '';
		width: 100%;
		height: 60px;
		position: absolute;
		top: -60px;
		left: 0;
		background: linear-gradient(to right bottom, transparent 50%, #ac1c19 51%) left / 50.1% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #ac1c19 51%) right / 50.1% 100% no-repeat;
	}
	#price::after{
		content: '';
		width: 100%;
		height: 190px;
		position: absolute;
		bottom: -190px;
		left: 0;
		background: linear-gradient(to left top, transparent 50%, #921816 50.1%);
	}
	.p_shadow{
		width: 100%;
		height: 10px;
		position: absolute;
		bottom: -98px;
		right: 30px;
		background: #921816;
		box-shadow:0 10px 7px rgba(0,0,0,0.75);
		transform: rotate(-8deg);
	}
	#price h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		color: #fff;
		text-align: center;
		padding: 70px 0 60px 0;
	}
	.price__content{
		font-size: 0;
	}
	.price__content>div:first-child{
		padding-left: 0;
	}
	.price__item{
		width: 350px;
		height: 180px;
		padding-left: 30px;
		display: inline-block;
		vertical-align: top;
	}
	.top_row{
		background: #481c1c;
		height: 50%;
		font-size: 24px;
		font-weight: 400;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		color: #fff;
		position: relative;
	}
	.top_row::before{
		content: '';
		position: absolute;
		bottom: -18px;
		left: 40px;
		width: 0;
		height: 0;
		border-top: 18px solid #481c1c;
		border-right: 12.5px solid transparent;
		border-left: 12.5px solid transparent;
	}
	.top_row>p:first-child{
		padding-top: 20px;
	}
	.bot_row{
		background: #b8b2b2;
		height: 50%;
		font-size: 30px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}
	.bot_row>p{
		padding-top: 30px;
	}
/*TEAM*/
	#team{
		background: linear-gradient(60deg,#1e1719, #000 70%);
		padding: 200px 0 260px 0;
		position: relative;
		box-shadow:0 7px 8px rgba(0,0,0,0.8);
		z-index: 6;
	}
	#team h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		transform: rotate(-90deg);
		color: #fff;
		margin: 120px 0 0 -30px;
		float: left;
	}
	.team__text{
		position: relative;
		width: 440px;
		height: 230px;
		padding: 30px 75px 30px 25px;
		color: #fff;
		box-shadow:0 0 20px rgba(175,28,26,0.2);
		background: linear-gradient(45deg, #8f1715 10%, #af1c1a 90%);
		z-index: 10;
		top: 105px;
		left: 65px;
		overflow: hidden;
	}
	.team__text h4{
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		padding-bottom: 30px;
	}
	.team__text p{
		padding-bottom: 12px;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.team__text p:nth-child(4){
		font-size: 18px;
		font-weight: 700;
	}
	.team__text>.circle1>a{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid #fff;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -35px
	}
	.team__text>.circle1>a::before{
		content: '';
		width: 7px;
		height: 7px;
		transform: rotate(-45deg);
		position: absolute;
		top: 7px;
		left: 5px;
		border: 1px solid #fff;
		border-left: transparent; 
		border-bottom: transparent;
	}
	.team__text>.circle2>a{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid #fff;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: 28px;
	}
	.team__text>.circle2>a::before{
		content: '';
		width: 7px;
		height: 7px;
		transform: rotate(45deg);
		position: absolute;
		top:3px;
		left: 5px;
		border: 1px solid #fff;
		border-left: transparent; 
		border-top: transparent;
	}
	.cubs{
		width: 0;
		height: 0;
		border:1px solid #fff;
		position: absolute;
		top: 140px;
		right: 39px;
	}
	.cubs::before{
		content: '';
		width: 0;
		height: 0;
		border:1px solid #fff;
		position: absolute;
		top: 10px;
		left: -1px;
	}
	.cubs::after{
		content: '';
		width: 0;
		height: 0;
		border:1px solid #fff;
		position: absolute;
		top: 20px;
		left: -1px;
	}
	.team__image{
		position: absolute;
		right: 190px;
		top: 115px;
	}
	.team__links>div:first-child>a{
		width: 38px;
		height: 38px;
		border: 2px solid #fff;
		position: absolute;
		bottom: 80px;
		left: 50%;
		margin-left:-139px; 
	}
	.team__links>div:first-child>a::before{
		content: '';
		width: 10px;
		height: 10px;
		transform: rotate(-45deg);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top:-7px; 
		margin-left:-5px;
		border: 3px solid #fff;
		border-right: transparent; 
		border-bottom: transparent;
	}
	.team__links>div:last-child>a{
		width: 38px;
		height: 38px;
		border: 2px solid #fff;
		position: absolute;
		bottom: 80px;
		left: 50%;
		margin-left: 140px;
	}
	.team__links>div:last-child>a::before{
		content: '';
		width: 10px;
		height: 10px;
		transform: rotate(-45deg);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top:-7px; 
		margin-left:-9px;
		border: 3px solid #fff;
		border-left: transparent; 
		border-top: transparent;
	}
/*CONTACT*/
	#contact{
		position: relative;
		background: url('../img/background_contactUS.png')no-repeat 0/cover;
	}
	.container{
		width: 732px;
		margin:0 auto;
		padding-top: 105px;
		background: linear-gradient(#ad1c1a 20%, #901815 80%);
		position: relative;
		z-index: 5;
	}
	.container::before{
		content: '';
		position: absolute;
		bottom: -67px;
		left: 0;
		width: 100%;
		height: 67px;
	    background: linear-gradient(to right top, transparent 50%, #921816 51%) left / 50.1% 100% no-repeat, linear-gradient(to left top, transparent 50%, #921816 51%) right / 50.1% 100% no-repeat;
	}
	.contact__top>p{
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		text-align: center;
		color: #fff;
	}
	.contact__top>h2{
		font-size: 30px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		text-align: center;
		padding-bottom: 40px;
	}
	#contact form{
		width: 600px;
		margin: 0 auto;
		text-align: center;
	}
	.form_top_row{
		text-align: center;
	}
	.form_top_row>input{
		width: 255px;
		height: 30px;
		border: none;
		outline: none;
		text-indent: 10px;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		margin-bottom: 15px;
	}
	.form_top_row>input:first-child{
		margin-right: 30px;
	}
	#contact textarea{
		width: 540px;
		height: 75px;
		border: none;
		outline: none;
		text-indent: 10px;
		display: inline-block;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		margin-bottom: 15px;
		resize: none;
	}
	.contact__button>button{
		width: 111px;
		height: 35px;
		border: 2px solid #fff;
		background: inherit;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		margin-bottom: 45px;
	}
	.contact__text{
		float: left;
		margin: 0 40px 0 90px;
	}
	.contacts__map{
		float: left;
	}
	.contact__text>div{
		padding:10px 10px 10px 65px;
		color: #fff;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		position: relative;
	}
	div.contact__email{
		padding: 15px 10px 10px 65px;
		margin-bottom: 15px;
	}
	.contact__text>div::before{
		content: '';
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../img/back_contact_icon3social.png')no-repeat;
	}
	.contact__text>div+div::before{
		background-position: -102px -1px;
	}
	.contact__text>div+div+div::before{
		background-position: -51px -5px;
	}
	.contact__social{
		position: relative;
		top: 45px;
		left: 0;
	}
	.contact__social h5{
		text-align: center;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #fff;
	}
	.contact__social ul{
		text-align: center;
		margin-top: 15px;
	}
	.contact__social ul>li{
		display: inline-block;
	}
	.contact__social li a{
		display:block;
		margin-right: 5px;
		width: 35px;
		height: 35px;
		background: url('../img/back_contact_icon3social.png') no-repeat 0px -58px;
	}
	.contact__social li+li a{
		background-position: -35px -58px;
	}
	.contact__social li+li+li a{
		background-position: -70px -58px;
	}
/*FOOTER*/
	#footer{
		min-height: 80px;
		background: #000;
	}
	#footer p{
		font-size: 12px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: #fff;
		padding:34px 0 34px 0;
		text-align: right;
		text-transform: none;
	}






@media screen and (max-width: 1100px){
	#about::after{
		top:-165px;
	}
	.about__menu li>a{
		display: none;
	}
	#icon_menu{
		display: block;
		margin-right: 100px;
		font-size: 30px;
	}
}